@import url(../../styles/vars.css);

.construction {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 243px;
    height: 432px;
    border-radius: 6px;
    box-sizing: border-box;
}
.over {
    background-color: var(--light-blue-color);
}