@import url(../../styles/vars.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 243px;
    border-radius: 6px;
    background-color: var(--light-gray-color);
}